body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  line-height: normal;
  color: #555258;
}

.app {
  border: 1px solid rgb(255, 254, 254);
  padding: 0px;
  border-radius: 25px;
  max-width: 600px;
  margin: 30px auto 10px;
}
.imgtoday {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 0px;
}
.temperature {
  font-size: 100px;
}
.degrees {
  position: relative;
  top: -50px;
}
#celsiuse {
  text-decoration: none;
}
#celsiuse:hover {
  text-decoration: none;
}
#fahrenhite {
  text-decoration: none;
}
#fahrenhite:hover {
  text-decoration: none;
}
.cloud {
  margin: 0 auto;
  padding: 0 auto;
}
.city {
  font-size: 50px;
  margin-bottom: 15px;
  margin-top: 30px;
}
li {
  list-style: none;
}
#firstcol {
  padding: 10px 30px;
  background: #e4d8d7;
  border-radius: 25px 1px 1px 25px;
}
#firstcol:hover {
  transform: perspective(3000px) translate3d(20px, -5px, 120px);
}
#secondcol {
  padding: 20px 30px;
  background: #6e6b72;
  border-radius: 1px 25px 25px 1px;
  color: #ece2e1;
}

.days {
  font-size: 50px;
}
.time {
  font-size: 17px;
}
form {
  margin: 10px 0px;
}
.humidity {
  margin-bottom: 1.5px;
  margin-top: 1.5px;
}
.active {
  color: rgb(66, 66, 66);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
footer {
  max-width: 600px;
  margin: 0 auto;
  color: gray;
  text-align: center;
}
.discription {
  text-align: center;
  font-weight: bold;
}
.date {
  margin-top: 0px;
}
hr {
  margin: 0 auto;
  padding: 0px;
}
.weatherforecastdate {
  font-size: 20px;
}

.weatherforecastmin {
  opacity: 0.5;
}
#tablerow {
  margin-top: 15px;
}
.btn-group-vertical:hover {
  transition: all 1ms ease-in-out;
  background: #ece2e1;
  color: rgb(66, 66, 66);
  transform: perspective(900px) translate3d(-10px, 10px, 80px);
}
.lastupdate {
  margin-left: 190px;
  margin-top: 10px;
}
